
<h2> <%= @player.first_name %> <%= @player.last_name %>   </h2>
<ul>
  <li><h3>Years Pro: <%=@player.years_pro%></h3></li>
  <li><h3><%=@player.college%></h3></li>
</ul>

<h2> Player Total Stat </h2>
  <% passingyds = 0 %>
  <% passingtds = 0 %>

  <% receivingyds = 0 %>
  <% receivingtds = 0 %>

  <% rushingyds = 0 %>
  <% rushingtds = 0 %>


  <h4>Total Stat: Passing
    <% @stats.each do |stat| %>
      <% if stat.stat_type == "passing" %>
        <%passingyds += stat.yds %>
        <%passingtds += stat.tds %>
      <% end %>
    <% end %>
  <li> Passing Yards: <%= passingyds %> </li>
  <li> Passing Touchdowns: <%= passingtds %> </li>
</h4>

  <h4>Total Stat: Receiving
    <% @stats.each do |stat| %>
      <% if stat.stat_type == "receiving" %>
        <%receivingyds += stat.yds %>
        <%receivingtds += stat.tds %>
      <% end %>
    <% end %>
  <li> Receiving Yards: <%= receivingyds %> </li>
  <li> Receiving Touchdowns: <%= receivingtds %> </li>
</h4>

  <h4>Total Stat: Rushing
    <% @stats.each do |stat| %>
      <% if stat.stat_type == "rushing" %>
        <%rushingyds += stat.yds %>
        <%rushingtds += stat.tds %>
      <% end %>
    <% end %>
    <li> Rushing Yards: <%= rushingyds %> </li>
    <li> Rushing Touchdowns: <%= rushingtds %> </li>
  </h4>

  <h4> Game Stats </h4>
  <ul>
  <% @stats.each do |stat| %>
    <br>
    <% game = Game.find_by(matchup_number: stat.matchup_number) %>
    <li><b><%= game.home_team %> vs <%= game.away_team %></b><br><em><%= game.wday %>, Week <%= game.week %> - <%= game.year %></em></li>
    <br>
    <b>Stats for game:</b>
    <% if stat.stat_type == "receiving" %>
      <%= stat.yds %> yards <%= stat.stat_type %>
    <% else %>
      <%= stat.att %> for <%= stat.yds %> yards <%= stat.stat_type %>
    <% end %>
    <br>
  <% end %>
</ul>


<%= link_to 'Back to players', players_path %>
