<p> <%= @player.first_name %> <%= @player.last_name %>   </p>
<ul>
  <li>Years Pro: <%=@player.years_pro%></li>
  <li><%=@player.college%></li>
</ul>

<ul>
  <li>Total Attempts: <%= @total_attempts %></li>
  <li>Total Yards: <%= @total_yards %></li>
</ul>

<%= link_to 'Back to players', players_path %>
